<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Trading Stats{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body id="{% block body_id %}{% endblock %}">

{% block header %}
        <div class="bs-component">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary" role="navigation">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        Trading Stats
                    </a>
                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav me-auto">
                            {% block header_navigation_links %}
                                <li class="nav-item">
                                    <a class="nav-link active" href="">
                                        <i class="fa fa-ticket" aria-hidden="true"></i> New Ticker
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="">
                                        <i class="fa fa-home" aria-hidden="true"></i> Homepage
                                    </a>
                                </li>
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-12">
                {{ include('@default/_flash_messages.html.twig') }}
                {% block main %}{% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - AYG Trading Project</p>
                    <p>MIT License</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/symfony" title="Symfony Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="Symfony Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
